<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: rgb(47, 0, 255);
            font-size: 100px;
        }
        p{
            color: rgb(128, 0, 98);
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>
        hello world 
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione repellat nulla porro tempora, ipsam itaque cumque eveniet, commodi et quas hic aut recusandae neque architecto reiciendis quam natus tempore alias eos aliquid veritatis. Necessitatibus eius, illum reiciendis error sint eaque pariatur est autem in enim nemo hic soluta veniam provident ducimus odit corrupti fuga modi possimus accusantium voluptatum repellat expedita laboriosam. Repudiandae excepturi corrupti similique, quia cumque nisi hic sunt magnam, placeat architecto tempore pariatur? Ipsum excepturi reiciendis maiores! Sunt incidunt aliquid culpa eos illum fugiat eligendi quidem veritatis, ipsum quis. Suscipit labore earum aspernatur, quis perspiciatis laudantium illum quasi sit debitis tenetur nesciunt sunt consequuntur sequi vero soluta exercitationem iure at error repellendus totam perferendis repudiandae omnis! Sit reprehenderit voluptas harum! Laborum, porro. Quibusdam aspernatur magni quo quaerat. Explicabo fugiat ratione quam reiciendis tempora totam, quisquam veritatis hic, numquam iusto repellat ea, commodi quod corporis quas. Facilis laborum repellendus possimus, perspiciatis aut temporibus quidem beatae vitae libero numquam magni quibusdam cupiditate recusandae nemo corporis. Eum modi placeat suscipit, molestias eos iusto saepe libero quo eligendi soluta? Dolorem illo eius quam vitae beatae, officiis reiciendis veritatis eligendi fuga quidem aperiam magnam iure ipsam, animi iste asperiores praesentium in labore vel!</p>
</body>
</html>